<mat-toolbar color="primary">
  <span>Appointments</span>

  <!-- This fills the remaining space of the current row -->
  <span class="flexible-fill-remaining-space"></span>

  <button mat-mini-fab matTooltip="Add Appointment"><mat-icon>add</mat-icon></button>
</mat-toolbar>

<mat-nav-list>
  <mat-list-item *ngFor="let appointment of displayAppointments" [routerLink]="['/appointment/' + appointment.id]">
    <p matLine>{{appointment.name}}</p>
    <mat-icon matSuffix>event_note</mat-icon>
  </mat-list-item>
</mat-nav-list>

