<mat-toolbar color="primary">
  <span>Tasks / Notes</span>

  <!-- This fills the remaining space of the current row -->
  <span class="flexible-fill-remaining-space"></span>

  <mat-form-field appearance="standard" style="padding-right: 10px">
    <input matInput #taskTitle placeholder="New Item Title ...">
  </mat-form-field>
  <button mat-mini-fab matTooltip="Add Item" (click)="add(taskTitle.value); taskTitle.value = ''">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<mat-accordion [multi]="true">
  <app-task-detail *ngFor="let currentTask of tasks" [task]="currentTask"></app-task-detail>
</mat-accordion>

