<mat-expansion-panel *ngIf="task">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="tbkt-task-status">[{{task.status.toString()}}]</span> {{task.title}}
    </mat-panel-title>

    <mat-panel-description>{{task.description.length > 32 ? task.description.slice(0,32) + ' (...)' : task.description}}</mat-panel-description>
  </mat-expansion-panel-header>

  <div class="tbkt-form-wrapper">
    <div class="tbkt-form-line">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="task.description" rows="7"></textarea>
      </mat-form-field>
    </div>
  </div>

  <mat-action-row>
    <p class="tbkt-action-row-leftalign">Created on: {{task.creationDate.valueOf() | date:'dd.MM.yyyy HH:mm:ss'}}</p>

    <button mat-icon-button matTooltip="Apply Modifications" (click)="save()"><mat-icon>check_circle</mat-icon></button>
    <button mat-icon-button matTooltip="Delete Item" color="warn" (click)="delete()"><mat-icon>delete</mat-icon></button>
    <button mat-icon-button matTooltip="{{task.status == TaskStatus.Open ? 'Close Item' : 'Reopen Item'}}" (click)="toggle()"><mat-icon>{{task.status == TaskStatus.Open ? 'check' : 'close'}}</mat-icon></button>
  </mat-action-row>
</mat-expansion-panel>
