<mat-toolbar color="primary">
  <span>Appointments</span>

  <!-- This fills the remaining space of the current row -->
  <span class="flexible-fill-remaining-space"></span>

  <button mat-mini-fab matTooltip="Add Appointment"><mat-icon>add</mat-icon></button>
</mat-toolbar>

<mat-accordion [multi]="true">
  <mat-expansion-panel *ngFor="let appointment of dataService.appointments">
    <mat-expansion-panel-header>
      <mat-panel-title>{{appointment.name}}</mat-panel-title>

      <!-- TODO: get status from data model -->
      <mat-panel-description>Open</mat-panel-description>
    </mat-expansion-panel-header>

    <!-- TODO: Improve layout for appointment data -->
    <div class="tbkt-form-wrapper">

      <!-- first line of the form -->
      <div class="tbkt-form-line">
        <mat-form-field appearance="outline">
          <mat-label>Customer</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <!-- TODO: preselect the customer of the appointment; -->
          <!-- '[(ngModel)]="appointment.customer.name"' throws a critical error -->
          <!-- maybe do this programmatically? -->
          <mat-select>
            <mat-option *ngFor="let customer of dataService.customers" [value]="customer.name">
              {{customer.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Service Product</mat-label>
          <mat-select>
            <mat-option *ngFor="let device of appointment.customer.devices" [value]="device.name">
              {{device.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Technician</mat-label>
          <input matInput [value]="dataService.user" readonly>
        </mat-form-field>
      </div>

      <!-- second line of the form -->
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>

      <!-- third line of the form -->
      <div class="tbkt-form-line">
        <mat-form-field appearance="outline">
          <mat-label>Service Date</mat-label>
          <input matInput [matDatepicker]="serviceDate">
          <mat-datepicker #serviceDate></mat-datepicker>
          <mat-datepicker-toggle matSuffix [for]="serviceDate"></mat-datepicker-toggle>
        </mat-form-field>

        <!-- nEStEd LiNe -->
        <div class="tbkt-form-line">
          <mat-form-field appearance="outline" class="tbkt-time-field">
            <mat-label>From (planned)</mat-label>
            <input matInput placeholder="08:00" value="08:00">
          </mat-form-field>
          <mat-form-field appearance="outline" class="tbkt-time-field">
            <mat-label>To (planned)</mat-label>
            <input matInput placeholder="11:00" value="11:00">
          </mat-form-field>
          <mat-form-field appearance="outline" class="tbkt-time-field">
            <mat-label>Time (planned)</mat-label>
            <input matInput placeholder="3:00" value="3:00">
          </mat-form-field>
        </div>
      </div>

      <!-- fourth line of the form -->
      <div class="tbkt-form-line">
        <!-- placeholder -->
        <div></div>

        <!-- nEStEd LiNe -->
        <div class="tbkt-form-line">
          <mat-form-field appearance="outline" class="tbkt-time-field">
            <mat-label>From (actual)</mat-label>
            <input matInput placeholder="08:30" value="08:30">
          </mat-form-field>
          <mat-form-field appearance="outline" class="tbkt-time-field">
            <mat-label>To (actual)</mat-label>
            <input matInput placeholder="12:00" value="12:00">
          </mat-form-field>
          <mat-form-field appearance="outline" class="tbkt-time-field">
            <mat-label>Time (actual)</mat-label>
            <input matInput placeholder="3:30" value="3:30">
          </mat-form-field>
        </div>
      </div>

      <!-- fifth line of the form -->
      <mat-tab-group>
        <!-- Table for planned parts TODO: make editable -->
        <mat-tab label="Planned">
          <table mat-table [dataSource]="dataSourcePlanned" class="tbkt-table-full-width">
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let part">{{part.amount}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let part">{{part.name}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-tab>

        <!-- Table for actual used parts TODO: make editable -->
        <mat-tab label="Actually Used">
          <table mat-table [dataSource]="dataSourceActual" class="tbkt-table-full-width">
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let part">{{part.amount}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let part">{{part.name}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-tab>
      </mat-tab-group>

    </div>

    <mat-action-row>
      <button mat-icon-button matTooltip="Apply Modifications" disabled><mat-icon>check_circle</mat-icon></button>
      <button mat-icon-button matTooltip="Discard Modifications" disabled><mat-icon>cancel</mat-icon></button>

      <button mat-icon-button matTooltip="Edit Appointment"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button matTooltip="Delete Appointment" color="warn"><mat-icon>delete</mat-icon></button>

      <button mat-icon-button matTooltip="Close Appointment"><mat-icon>check</mat-icon></button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
