<mat-toolbar color="primary">
  <span>Task / Notes</span>

  <!-- This fills the remaining space of the current row -->
  <span class="flexible-fill-remaining-space"></span>

  <button mat-mini-fab matTooltip="Add Item"><mat-icon>add</mat-icon></button>
</mat-toolbar>

<mat-accordion [multi]="true">
  <mat-expansion-panel *ngFor="let tasknote of dataService.tasks">
    <mat-expansion-panel-header>
      <mat-panel-title>{{tasknote.name}}</mat-panel-title>

      <!-- TODO: get status from data model -->
      <mat-panel-description>Open</mat-panel-description>
    </mat-expansion-panel-header>

    <div class="tbkt-form-wrapper">
      <p>Created on: {{tasknote.startDate}}</p>

      <div class="tbkt-form-line">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput [value]="tasknote.text" rows="7"></textarea>
        </mat-form-field>
      </div>
    </div>

    <mat-action-row>
      <button mat-icon-button matTooltip="Apply Modifications" disabled><mat-icon>check_circle</mat-icon></button>
      <button mat-icon-button matTooltip="Discard Modifications" disabled><mat-icon>cancel</mat-icon></button>

      <button mat-icon-button matTooltip="Edit Item"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button matTooltip="Delete Item" color="warn"><mat-icon>delete</mat-icon></button>

      <button mat-icon-button matTooltip="Close Item"><mat-icon>check</mat-icon></button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

