<mat-toolbar color="primary">
  <span *ngIf="customer">Customer: {{customer.name}}</span>

  <span class="flexible-fill-remaining-space"></span>

  <button mat-mini-fab matTooltip="Save Changes" (click)="save()">
    <mat-icon>save</mat-icon>
  </button>
</mat-toolbar>

<mat-card>
  <mat-card-content *ngIf="customer">

    <h3>Contact Information:</h3>

    <div class="tbkt-form-wrapper">
      <div class="tbkt-form-line">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" [(ngModel)]="customer.name">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Number</mat-label>
          <input matInput type="text" [(ngModel)]="customer.number">
        </mat-form-field>
      </div>

      <div class="tbkt-form-line">
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput type="tel" [(ngModel)]="customer.phone">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" [(ngModel)]="customer.email">
        </mat-form-field>
      </div>

      <div class="tbkt-form-line">
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput type="text" [(ngModel)]="customer.address">
        </mat-form-field>

        <div class="tbkt-form-line">
          <mat-form-field appearance="outline">
            <mat-label>Latitude</mat-label>
            <input matInput type="number" [(ngModel)]="customer.geolocation[0]">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Longitude</mat-label>
            <input matInput type="number" [(ngModel)]="customer.geolocation[1]">
          </mat-form-field>
        </div>
      </div>
    </div>

    <h3>Service Products:</h3>

    <mat-nav-list>
      <mat-list-item *ngFor="let device of customerDevices" [routerLink]="['/device/' + device.id]">
        <p matLine>{{device.name}} ({{device.serialNumber}})</p>
        <mat-icon matSuffix>devices_other</mat-icon>
      </mat-list-item>
    </mat-nav-list>

    <h3>Service History:</h3>

    <mat-nav-list>
      <mat-list-item *ngFor="let completion of customerCompletions"
                     [routerLink]="['/completion/' + completion.id]">
        <p matLine>{{completion.number}} ({{completion.serviceDate | date: 'dd-MM-yyyy'}})</p>
        <mat-icon matSuffix>event</mat-icon>
      </mat-list-item>
    </mat-nav-list>

  </mat-card-content>
</mat-card>
