/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.snack-bar-warning {
  background-color: red;
  color: white;
}

.snack-bar-success {
  background-color: #424242;
  color: white;
}

.mat-snack-bar-container {
  max-width: 300px !important;
}

.flexible-fill-remaining-space {
  flex: 1 1 auto;
}

.tbkt-action-row-leftalign {
  margin-right: auto;
}

.mat-form-field-infix {
  width: auto !important;
}

.tbkt-form-wrapper > * {
  width: 100%;
}

.tbkt-form-line {
  display: flex;
  justify-content: space-between;
}

.tbkt-form-line > * {
  width: 100%;
  padding-right: 10px;
}

.tbkt-form-line > *:last-child {
  padding-right: 0;
}

.tbkt-time-field {
  min-width: 60px;
}

.tbkt-table-full-width {
  width: 100%;
}

.tbkt-link {
  color: white; /* to see it on the background, temporary */
}
