<mat-toolbar color="primary">
  <span *ngIf="appointment">Appointment: [{{appointment.status}}] {{appointment.number}}</span>

  <!-- This fills the remaining space of the current row -->
  <span class="flexible-fill-remaining-space"></span>

  <button mat-mini-fab matTooltip="Save Changes" (click)="save()" style="margin-right: 10px">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-mini-fab matTooltip="Complete Appointment">
    <mat-icon>check</mat-icon>
  </button>
</mat-toolbar>

<mat-card>
  <mat-card-content *ngIf="appointment">
    <div class="tbkt-form-line">
      <mat-form-field appearance="outline" class="tbkt-field-with-button">
        <mat-label>Customer</mat-label>
        <mat-select placeholder="Customer" [(ngModel)]="appointment.customer">
          <mat-option *ngFor="let customer of allCustomers" [value]="customer.id">
            {{customer.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="tbkt-icon-button-wrapper">
        <button mat-mini-fab class="tbkt-goto-button" matTooltip="Show Customer Details" (click)="gotoCustomer()">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>

      <mat-form-field appearance="outline" class="tbkt-field-with-button">
        <mat-label>Service Product</mat-label>
        <mat-select placeholder="Service Product" [(ngModel)]="appointment.device">
          <mat-option *ngFor="let device of allDevices" [value]="device.id">
            {{device.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-mini-fab class="tbkt-goto-button" matTooltip="Show Service Product Details" (click)="gotoDevice()">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>

    <div class="tbkt-form-line">
      <mat-form-field appearance="outline" class="tbkt-time-field">
        <mat-label>Service Date</mat-label>
        <input matInput [matDatepicker]="serviceDate" readonly [(ngModel)]="appointment.serviceDate">
        <mat-datepicker-toggle matSuffix [for]="serviceDate"></mat-datepicker-toggle>
        <mat-datepicker #serviceDate></mat-datepicker>
      </mat-form-field>

      <div class="tbkt-form-line">
        <mat-form-field appearance="outline" class="tbkt-time-field">
          <mat-label>From (Hour)</mat-label>
          <input matInput placeholder="08" type="number" [(ngModel)]="appointment.plannedTime.begin.hours">
        </mat-form-field>
        <mat-form-field appearance="outline" class="tbkt-time-field">
          <mat-label>From (Minute)</mat-label>
          <input matInput placeholder="0" type="number" [(ngModel)]="appointment.plannedTime.begin.minutes">
        </mat-form-field>
      </div>
    </div>

    <div class="tbkt-form-line">
      <div></div>

      <div class="tbkt-form-line">
        <mat-form-field appearance="outline" class="tbkt-time-field">
          <mat-label>To (Hour)</mat-label>
          <input matInput placeholder="10" type="number" [(ngModel)]="appointment.plannedTime.end.hours">
        </mat-form-field>
        <mat-form-field appearance="outline" class="tbkt-time-field">
          <mat-label>To (Minute)</mat-label>
          <input matInput placeholder="0" type="number" [(ngModel)]="appointment.plannedTime.end.minutes">
        </mat-form-field>
      </div>
    </div>

    <div class="tbkt-form-line">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput cdkTextareaAutosize [(ngModel)]="appointment.description"></textarea>
      </mat-form-field>
    </div>

    <h3>Planned Parts:</h3>

    <div class="tbkt-form-line">
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="1" type="number" [(ngModel)]="newAppointmentItem.amount">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Part</mat-label>
        <mat-select placeholder="Part" [(ngModel)]="newAppointmentItem.part">
          <mat-option *ngFor="let part of allParts" [value]="part.id">
            {{part.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <button mat-raised-button color="primary" [disabled]="!isFormFilled()" (click)="addPart()">Add Planned Part</button>

    <table mat-table [dataSource]="displayItems" class="tbkt-table-full-width">
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let item">{{item.amount}}</td>
      </ng-container>
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef>Unit</th>
        <td mat-cell *matCellDef="let item">{{item.part.unit}}</td>
      </ng-container>
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>Number</th>
        <td mat-cell *matCellDef="let item">{{item.part.number}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let item">{{item.part.name}}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Unit Price</th>
        <td mat-cell *matCellDef="let item">{{item.part.price}}</td>
      </ng-container>
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef>Currency</th>
        <td mat-cell *matCellDef="let item">{{item.part.currency}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>

