<mat-toolbar color="primary">
  <span>Appointment: {{appointment.name}} ({{appointment.status}})</span>

  <!-- This fills the remaining space of the current row -->
  <span class="flexible-fill-remaining-space"></span>

  <button mat-mini-fab matTooltip="Complete Appointment">
    <mat-icon>check</mat-icon>
  </button>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <p>Customer: <a [routerLink]="'/customer/' + customer.id" class="tbkt-link">{{customer.name}}</a></p>
    <p>Service Product: <a [routerLink]="'/device/' + appointment.device.id"
                           class="tbkt-link">{{appointment.device.name}}</a></p>

    <div class="tbkt-form-line">
      <mat-form-field appearance="outline" class="tbkt-time-field">
        <mat-label>Service Date</mat-label>
        <input matInput [matDatepicker]="serviceDate" readonly [value]="appointment.startDateReal">
        <mat-datepicker #serviceDate></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="serviceDate"></mat-datepicker-toggle>
      </mat-form-field>

      <mat-form-field appearance="outline" class="tbkt-time-field">
        <mat-label>From (planned)</mat-label>
        <input matInput placeholder="08:00" value="08:00" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline" class="tbkt-time-field">
        <mat-label>To (planned)</mat-label>
        <input matInput placeholder="11:00" value="11:00" readonly>
      </mat-form-field>
    </div>

    <h3>Planned Parts:</h3>

    <table mat-table [dataSource]="dataSourcePlanned" class="tbkt-table-full-width">
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let part">{{part.amount}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let part">{{part.name}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>

