<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" class="sidenav"
               [fixedInViewport]="true" [fixedTopGap]="0"
               [fixedBottomGap]="0">

    <mat-nav-list>
      <mat-divider></mat-divider>

      <mat-list-item (click)="back()">
        <mat-icon>arrow_back</mat-icon>
        <p style="margin-left: 10px">Go Back</p>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item [routerLink]="['/appointments']">
        <a matLine>Appointments</a>
        <mat-icon>event</mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="['/completions']">
        <a matLine>Completions</a>
        <mat-icon>event_available</mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="['/tasks']">
        <a matLine>Tasks / Notes</a>
        <mat-icon>assignment</mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="['/customers']">
        <a matLine>Customers</a>
        <mat-icon>people</mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="['/devices']">
        <a matLine>Service Products</a>
        <mat-icon>devices_other</mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="['/warehouse']">
        <a matLine>Warehouse</a>
        <mat-icon>shopping_cart</mat-icon>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item (click)="logout()">
        <a matLine>Logout <strong>{{dataservice.user}}</strong></a>
        <mat-icon>logout</mat-icon>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
